body{
    background-color:blue;
    
}
.Box{
    margin: 10%;
    width: 85%;
    border: black 4px solid;
    padding: 0px;
}

h1{
   color: red;
   font-family: Arial, Helvetica, sans-serif;
   margin: 30px 20px 30px 20px; 
   border: lightgreen 3px dashed;
}

img{
    width: 200px;
    height: 300px;
    margin: 0px 0px 0px 0px; 
   border: yellow 3px dashed;
   padding: 30px 30px;
}
