body{
    background-color: black;
}

p{
    color: white;
}

h1{
    color:gold;
}

.yel{
    color: gold;
}

a{
    color: gold;
  }

a:hover {
    color: yellow; 
    text-decoration: underline; 
  }

.Header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: white 1px solid;
    padding: 0px;
}

.Logo{
    width: 350px;
    height: 200px;
}

.pic{
    width: 50%;
    height: 600px;
}

.bodee{
    display: flex;
    align-items: center;
}

.bodt{
    margin-left: 0%;
}

.sub{
    font-size: medium;
}

.golazo{
    color: gold;
}

.BusInfo{
    text-align: left;
    margin-left: 20%;
  }
  
