body{
    background-image: url("https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/7/f/3/7f3ab11ae38410b5ef9349a731c9b76173aecd4a.jpeg");
}

p{
    color: white;
}

.Header{
    background-color: grey;
    margin: 10px 20px;
    width: 90%;
    border: black 4px solid;
    padding: 0px;
   
}

.Logo1{
    width: 150px;
    height: 80px;
    margin: 0px 0px 0px 0px; 
   padding: 0px 30px;
}

.Logo2{
    width: 200px;
    height: 80px;
    margin: 0px 0px 0px 20%; 
   padding: 0px 100px;
}

.SignUp{
    background-color: grey;
    margin: 10px 20px;
    height: 500px;
    width: 50%;
    border: black 4px solid;
    padding: 0px;
}

.Bday{
    margin: 10px 20px;
    width: 40%;
    border: black 4px solid;
    padding: 0px;
}
.Remember{
    background-color: black;
    margin: 10px 20px;
    width: 10%;
    border: black 4px solid;
    padding: 0px;
}

.Shift{
    position: relative;
    left: 40px;  
}

h2{
    color: white;
    font-size: 20px;
}

.button{
    background-color: green;
    text-align: center;
    margin: 50px 20px;
    height: 50px;
    width: 50%;
    border:green 4px solid;
    padding: 0px;
}

.LogIn{
    background-color: grey;
    position: absolute;
    bottom: 15%;
    left: 60%;
    margin: 10px 20px;
    height: 500px;
    width: 30%;
    border: black 4px solid;
    padding: 0px;
}