body{
    background-color: green;
}

#wrapper{
    width: 750px;
    margin: 0 auto;
}

#header{
    height: 80px;
    font-size: 30px;
    text-align: center;
    background-color: red;
}

#firstnav{
    float: left;
    width: 300px;
    height: 70px;
    background-color: pink;
}

#firstnavv{
    float: right;
    width: 450px;
    height: 70px;
    background-color: orange;
}

#content{
    height: 600px;
    background-color: blue;
}

#footer{
    float: left;
    width: 100%;
    background-color: yellow;
    height: 80px
}