body{
    background-color: green;
}

#content1{
    position: relative;
    line-height: 50px;
    left: 15%;
    background-color: blue;
    width: 20%;
    height: 250px;

}

#content2{
    position: absolute;
    line-height: 50px;
    left:68%;
    bottom: 64.5%;
    background-color: red;
    width: 20%;
    height: 250px;
    
}

#content3{
    position: relative;
    bottom:20px;
    left:40%;
    background-color: yellow;
    width: 20%;
    height: 250px;
    
}
